body {
  margin: 0;
  background-image: url('/media/space_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

html,
body,
#app {
  height: 100% !important;
}

body.swal2-height-auto {
  height: 100% !important;
}

#app {
  display: flex;
  flex-direction: column;
}

#scoreboard {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 10px 20px;
}

#scoreboard>* {
  width: 500px;
}

#title {
  text-align: center;
}

#score {
  margin-right: auto;
}

#time {
  margin-left: auto;
  text-align: end;
}

#canvas-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#canvas-background {
  background: red;
  height: 100%;
  aspect-ratio: 2.4/1;
  position: absolute;
}

#control-panel-1,
#control-panel-2,
#control-panel-3 {
  display: flex;
  justify-content: space-between;
}

#control-panel-1>*,
#control-panel-2>*,
#control-panel-3>* {
  margin-right: 10px;
  margin-bottom: 10px;
}

input {
  width: 50px;
}

#speed-up,
#neural-network,
#show-forces,
#save-best {
  width: fit-content;
}

#footer {
  margin: 20px;
}

button,
input {
  margin-right: 5px;
}

#star-img,
#clock-img {
  height: 16px;
}

#mode {
  display: inline-block;
}

#score,
#ai-stats,
#score-mode {
  display: flex;
  align-items: center;
}

#score>* {
  margin-right: 5px;

}

#ai-stats>* {
  margin-left: 5px;
}

.ai-stats-label {
  margin-left: 20px !important;
}

.hidden {
  display: none !important;
}

.active {
  display: inline !important;
}

.invisible {
  visibility: hidden;
}
